body {
    font-family: "Righteous", cursive;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    /* opacity: .6; */
}

.container {
    width: 520px;
    height: 580px;
    display: flex;
    justify-content: space-around;
    background-image: url("styles/truco.jpeg");
    background-size: cover;
    margin: auto;
    /* width: 600px; */
    /* padding: 50px; */
    border: 8px solid rgb(59, 97, 2);
}

h3 {
    background-color: rgb(255, 255, 255);
    box-shadow: 10px 10px 30px rgb(62, 61, 61);
    border-radius: 20px;
    padding: 3px 5px;
    margin-top: 50px;
    font-size: 25;
    font-weight: bold;
    /* text-shadow: 5px 5px 30px rgb(62, 61, 61); */
    /* text-shadow: 5px 5px 10px black; */
    text-align: center;
    /* text-shadow: 1px 1px 40px black; */
}

button {
    text-shadow: 1px 1px 40px black;
    font-family: "Righteous", cursive;
    font-size: 20px;
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    border: 2px solid black;
    font-weight: bold;
    width: 200px;
    margin-bottom: 5px;
    background-color: green;
    padding: 15px 0px;
    border-radius: 20px;
    box-shadow: 10px 10px 30px rgb(62, 61, 61);
}
button:hover {
    cursor: pointer;
}

#btn-delete {
    background-color: darkred;
}
span {
    font-family: "Righteous", cursive;
    color: rgb(0, 0, 0);
    text-shadow: 1px 1px 30px black;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    font-size: 40;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    padding: 10px;
    box-shadow: 1px 1px 30px rgb(62, 61, 61);
}
